<section id="about" class="my-10 md:my-20">
  <h2 class="text-center text-2xl md:text-4xl font-semibold mb-6">About Me</h2>
  <span class="block text-center text-slate-500 mb-10">My Introduction</span>
  <div class="grid md:grid-cols-2 gap-8 md:max-w-4xl mx-auto my-auto items-center">
    <img
      src="/assets/avatar.jpg"
      class="max-w-[350px] max-h-[350px] rounded-[10%] mx-auto"
      alt="Minh Thuan"
      srcset=""
    />
    <div>
      <div class="grid grid-cols-3 gap-x-5 mb-6">
        <div class="bg-white rounded-[10px] shadow p-4 text-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6 mx-auto mb-2 text-gray-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.5 3.75V16.5L12 14.25 7.5 16.5V3.75m9 0H18A2.25 2.25 0 0 1 20.25 6v12A2.25 2.25 0 0 1 18 20.25H6A2.25 2.25 0 0 1 3.75 18V6A2.25 2.25 0 0 1 6 3.75h1.5m9 0h-9"
            />
          </svg>

          <h3 class="font-semibold mb-2">Experience</h3>
          <p class="text-slate-500">2+ Years</p>
        </div>
        <div class="bg-white rounded-[10px] shadow p-4 text-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6 mx-auto mb-2 text-gray-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5m.75-9 3-3 2.148 2.148A12.061 12.061 0 0 1 16.5 7.605"
            />
          </svg>

          <h3 class="font-semibold mb-2">Completed</h3>
          <p class="text-slate-500">6 projects</p>
        </div>
        <div class="bg-white rounded-[10px] shadow p-4 text-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6 mx-auto mb-2 text-gray-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M11.42 15.17 17.25 21A2.652 2.652 0 0 0 21 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 1 1-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 0 0 4.486-6.336l-3.276 3.277a3.004 3.004 0 0 1-2.25-2.25l3.276-3.276a4.5 4.5 0 0 0-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437 1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008Z"
            />
          </svg>

          <h3 class="font-semibold mb-2">Support</h3>
          <p class="text-slate-500">24/7</p>
        </div>
      </div>
      <p class="text-slate-500 mb-4">
        I aim to become a skilled backend developer who builds scalable, reliable systems and
        contributes to organizational goals. I seek a growth-oriented environment to learn, take on
        challenges, and advance toward a senior or technical leadership role.
      </p>
      <a 
        href="assets/cv.pdf"
        download="CV_Nguyen_Dinh_Minh_Thuan.pdf"
        data-twe-ripple-init
        data-twe-ripple-color="light"
        class="mb-2 inline-block rounded-[10px] bg-[#333] px-6 py-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg"
      >
        <span class="[&>svg]:h-8 [&>svg]:w-12">
            Download CV
        </span>
      </a>
    </div>
  </div>
</section>
